
@model WebApplication7.Models.BrandListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>
<body>
 
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <br />
                    <br />
                    <h2 class="text-center text-white">@Model.brand</h2>
                    <br />
                    <br />
                    <div class="row">

                        @if (Model.listSunglasses.Count != 0)
                        {
                            foreach (var item in Model.listSunglasses)
                            {
                                <div class="col-6 mt-2 mb-2">
                                    <a href=@Url.Action("ProductDetail", "Sunglasses", new { id = item.Id })>
                                        <img class="img-thumbnail" src=@item.imgUrl>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="h3 text-monospace text-bold">Unfortunately, there are no available sunglasses from this brand at the moment. </div>
                        }

                    </div>
                </div>
            </div>
           
        </div>

    </div>
</body>
</html>
